p Hi there #{firstName} #{lastName}! Your account almost there.
    p You should create a new password, please use following link to do that:
    a(href=`https://${hostName}/password/reset/${token}`) link